body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin;          /* "auto" or "thin"  */
  scrollbar-color: blue orange;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a.active {
  background-color: rgb(255, 217, 97) !important;
  color: #000000 !important;
}

.MuiListItemSecondaryAction-root {
  opacity: 0;
}

a.active ~.MuiListItemSecondaryAction-root {
  opacity: 1;
}

.MuiListItemSecondaryAction-root:hover {
  opacity: 1;
}

.MuiListItemSecondaryAction-root .MuiIconButton-root {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .1);
}

.MuiListItemSecondaryAction-root .MuiIconButton-root:hover {
  background-color: rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}